{% extends 'front/base.html.twig' %}

{% block title %}Modifier culture{% endblock %}

{% block content %}
<h1 class="h3 mb-3">Modifier la culture</h1>

<div class="card border-0 shadow-sm">
    <div class="card-body">
        {% include 'front/culture/_form.html.twig' with {
            form: form,
            button_label: 'Mettre a jour',
            cancel_path: path('app_culture_show', {id: culture.id})
        } %}
    </div>
</div>
{% endblock %}
