CREATE TABLE messenger_messages (id BIGINT AUTO_INCREMENT NOT NULL, body LONGTEXT NOT NULL, headers LONGTEXT NOT NULL, queue_name VARCHAR(190) NOT NULL, created_at DATETIME NOT NULL, available_at DATETIME NOT NULL, delivered_at DATETIME DEFAULT NULL, INDEX IDX_75EA56E0FB7336F0E3BD61CE16BA31DBBF396750 (queue_name, available_at, delivered_at, id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
ALTER TABLE alertes_risques DROP FOREIGN KEY `fk_alerte_culture`;
ALTER TABLE cultures DROP FOREIGN KEY `fk_culture_parcelle`;
ALTER TABLE historique_cultures DROP FOREIGN KEY `fk_historique_parcelle`;
ALTER TABLE historique_irrigation DROP FOREIGN KEY `fk_historique_systeme`;
ALTER TABLE systeme_irrigation DROP FOREIGN KEY `fk_systeme_parcelle`;
ALTER TABLE tache DROP FOREIGN KEY `fk_tache_user`;
DROP TABLE alertes_risques;
DROP TABLE cultures;
DROP TABLE historique_cultures;
DROP TABLE historique_irrigation;
DROP TABLE mouvement_stock;
DROP TABLE parcelles;
DROP TABLE produit;
DROP TABLE systeme_irrigation;
DROP TABLE tache;
DROP TABLE user;
DROP TABLE utilisateur;
ALTER TABLE recolte MODIFY id_recolte INT NOT NULL;
ALTER TABLE recolte ADD name VARCHAR(255) NOT NULL, ADD harvest_date DATE NOT NULL, ADD quantity DOUBLE PRECISION NOT NULL, ADD unit VARCHAR(255) NOT NULL, ADD description LONGTEXT DEFAULT NULL, DROP nom_produit, DROP quantite, DROP unite, DROP date_recolte, DROP cout_production, DROP id_user, CHANGE id_recolte id INT AUTO_INCREMENT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (id);
ALTER TABLE vente DROP FOREIGN KEY `fk_vente_user`;
DROP INDEX idx_vente_user_date ON vente;
DROP INDEX IDX_888A2A4C6B3CA4B ON vente;
ALTER TABLE vente MODIFY id_vente INT NOT NULL;
ALTER TABLE vente ADD price DOUBLE PRECISION NOT NULL, ADD status VARCHAR(255) NOT NULL, DROP prix, CHANGE id_vente id INT AUTO_INCREMENT NOT NULL, CHANGE date_vente sale_date DATE NOT NULL, CHANGE description buyer_name VARCHAR(255) NOT NULL, CHANGE id_user recolte_id INT NOT NULL, DROP PRIMARY KEY, ADD PRIMARY KEY (id);
ALTER TABLE vente ADD CONSTRAINT FK_888A2A4CC2C4F051 FOREIGN KEY (recolte_id) REFERENCES recolte (id);
CREATE INDEX IDX_888A2A4CC2C4F051 ON vente (recolte_id);
