{% extends 'front/base.html.twig' %}

{% block title %}Nouvelle parcelle{% endblock %}

{% block content %}
<h1 class="h3 mb-3">Ajouter une parcelle</h1>

<div class="card border-0 shadow-sm">
    <div class="card-body">
        {% include 'front/parcelle/_form.html.twig' with {
            form: form,
            button_label: 'Enregistrer',
            cancel_path: path('app_parcelle_list')
        } %}
    </div>
</div>
{% endblock %}
