{% extends 'back/base.html.twig' %}

{% block title %}Nouvelle Alerte Risque{% endblock %}

{% block content %}
<h1 class="h3 mb-3">Ajouter une alerte risque</h1>

{% include 'back/alerte_risque/_form.html.twig' with {form: form, button_label: 'Creer'} %}
{% endblock %}


